{% load static %}

<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Blog</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
</head>

<body class="is-preload">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="#" class="image avatar"><img src="{% static 'images/eu.jpg' %}" alt=""/></a>
        <h1><strong>Eu sou o Bruno,</strong> um Desenvolvedor Full Stack Júnior - Python/Django.</h1>
    </div>
</header>

{% block content %}
{% endblock %}

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://gitlab.com/brunomf123" target="_blank" class="icon brands fa-gitlab"><span class="label">Gitlab</span></a></li>
            <li><a href="https://www.linkedin.com/in/bruno-morete-felix-8a017a161/" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="mailto:brunomf123@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>Feito com: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>