{% extends 'base.html' %}
{% load static %}



{% block content %}
    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>Meu Portfólio</h2>
            </header>
            <p>Com o intuito de me aprimorar, resolvi começar alguns projetos para utilizar de portfólio;<br>
                Para isso, criei essa pequena aplicação, para mostrar todos os meus projetos.
            </p>
        </section>

        <!-- Two -->
        <section id="two">
            <h2>Projetos</h2>
            <div class="row">
                {% for project in projects %}
                    <article class="col-6 col-12-xsmall work-item">
                        {% if project.image %}
                            <a href="{% url 'project_detail' project.pk %}" class="image fit thumb bm-img"><img
                                    src="{{ project.image.url }}" alt=""/></a>
                        {% else %}
                            <a href="{% url 'project_detail' project.pk %}" class="image fit thumb bm-img"><img
                                    src="{% static 'images/thumbs/01.jpg' %}" alt=""/></a>
                        {% endif %}

                        <h2>{{ project.title }}</h2>
                        <h3>{{ project.sub_title }}</h3>
                        <h3>{{ project.get_category_label }}</h3>
                    </article>
                {% endfor %}

            </div>
        </section>

        <!-- Three -->
        <section id="three">
            <h2>Entre em contato:</h2>
            <p>Sinta-se livre para me enviar uma mensagem!</p>
            <div class="row">
                <div class="col-12">
                    <form method="post" action="{% url 'add_contact' %}">
                        {% csrf_token %}
                        <div class="row gtr-uniform gtr-50">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" required name="author" id="author" placeholder="Nome"/>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="email" required name="email" id="email" placeholder="E-mail"/>
                            </div>
                            <div class="col-12">
                                <input type="text" required name="title" id="title" placeholder="Título"/>
                            </div>
                            <div class="col-12">
                                <textarea required name="content" id="content" placeholder="Conteúdo"
                                          rows="4"></textarea>
                            </div>
                        </div>
                        <br>
                        <input type="submit" value="Enviar mensagem!"/></li>
                    </form>

                </div>
            </div>
        </section>

    </div>
{% endblock %}