{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>{{ project.title }}</h2>
                <h3>{{ project.sub_title }} | {{ project.get_category_label }}</h3>
            </header>
            <p>{{ project.content|urlize }}</p>
            {% if project.image %}
                <img class="bm-img" src="{{ project.image.url }}" alt=""/>
            {% endif %}
        </section>
        <hr>
        <ul class="actions">
            <li><a href="{% url 'blog' %}" class="button">Voltar</a></li>
        </ul>
    </div>

{% endblock %}