{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>{{ contact.author }},</h2>
                <h3>Obrigado por me enviar uma mensagem!<br>Ela foi encaminhada para a minha caixa de entrada, e assim
                    que possível, ficarei feliz em respondê-lo(a)!</h3>
            </header>
        </section>
        <hr>
        <ul class="actions">
            <li><a href="{% url 'blog' %}" class="button">Voltar</a></li>
        </ul>
    </div>

{% endblock %}